.ms-lh-0 {
    line-height: 0;
}

.ms-white-hover:hover {
    color: white;
}

.ms-bg-title {
    background-image: linear-gradient(white, black);
}

.ms-mh-400-cover {
    max-height: 400px;
    object-fit: cover;
}

.ms-mh-400-contain {
    max-height: 400px;
    object-fit: contain;
}